# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# 虚拟环境
venv/
env/
.venv/

# 日志
log.txt
*.log

# 编辑器
.vscode/
.idea/
*.swp
*.swo

# 系统
.DS_Store
Thumbs.db

* text=auto
*.bat text eol=crlf
*.py text eol=lf
*.ini text eol=lf
*.txt text eol=lf
*.md text eol=lf